<%= form_with(model: profile, local: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="profile-form">
<div class="plant-form">
  <div class="field">
    <%= form.text_field :first_name,  placeholder: "First name", required: true  %>
  </div>

  <div class="field">
    <%= form.text_field :last_name,  placeholder: "Last name", required: true  %>
  </div>

  <div class="field">
    <%= form.text_field :address,  placeholder: "Address", required: true  %>
  </div>

  <div class="field">
    <%= form.text_field :suburb,  placeholder: "Suburb" , required: true %>
  </div>

  <div class="field">
    <%= form.select :state, ['NSW', 'VIC'] , required: true %>
    <%= form.number_field :post_code,  placeholder: "Post Code" , required: true %>
  </div>
  <div class="profile-choose-photo">
  <div class="edit-profile-pic">
  <%= image_tag @profile.picture if @profile.picture.attached? %>
  </div>
  <%= form.label :picture %>: <%= form.file_field :picture, accept:
  'image/png,image/gif,image/jpeg,image/jpg' , required: true %>
</div>

  <div class="actions">
    <%= form.submit id: 'plant_submit_button' %>
  </div>
  </div>
<% end %>
