<div class="profile-container">
<div class="profile">
  <div class="profile-left">
  <a href="<%= rails_blob_url(@profile.picture) %>" target="__blank">
   <%= image_tag @profile.picture if @profile.picture.attached? %>

  </div>

  <div class="profile-right">
    <p>
      <strong>First name:</strong>
      <%= @profile.first_name %>
    </p>

    <p>
      <strong>Last name:</strong>
      <%= @profile.last_name %>
    </p>

    <p>
      <strong>Address:</strong>
      <%= @profile.address %>
      <br/>
      <%= @profile.suburb %>, <%= @profile.state %>, <%= @profile.post_code %>
    </p>
    <p>
      <strong># of Swaps:</strong>
      <%= @swaps%>
  
      
    </p>
  </div>
  <break></break>
  
</div>
  <p class="update-profile-button">
  <%= link_to 'Update Profile', edit_profile_path(@profile) %> 
  </p>
</div>

<button class="login-logout">
<% if user_signed_in? %> 
  <%= link_to "logout", destroy_user_session_path, method: :delete %>
  <% else %>
  <%= link_to "Login", new_user_session_path %>
  <% end %>
  </button>