<div class="profile-container">
<div class="profile">
  <div class="profile-left">
  <a href="<%= rails_blob_url(@profile.picture) %>" target="__blank">
   <%= image_tag @profile.picture if @profile.picture.attached? %>

  </div>

  <div class="profile-right">
    <h1>
      
      <%= @profile.first_name %> <%= @profile.last_name %>
    </h1>

    <h3>
      <strong>State: </strong>
      
       <%= @profile.state %>
    </h3>
    <h3>
      <strong>Swaps: </strong>
      <%= @swaps%>
  
      
    </h3>
  </div>
  <break></break>
  
</div>
  <div class="update-profile-button">
    <% if current_user.id == @profile.user_id %>
      <%= link_to "Update Profile", edit_profile_path(@profile) if current_user.id == @profile.user_id %> 
    <% else %>
      <p><%= link_to "Send a message", messages_index_path%></p>
    <% end%>
  
</div>

<button class="login-logout">
<% if user_signed_in? %> 
  <%= link_to "logout", destroy_user_session_path, method: :delete %>
  <% else %>
  <%= link_to "Login", new_user_session_path %>
  <% end %>
  </button>