

<main id="home">


    <section>
    




    <%= link_to plants_path do %>
  <div class="sign-up-main">
    <h1>How it works</h1>
    <ul>
    <li>1. Sign up</li>
    <li>2. Swap</li>
    <li>3. Profit!</li>
    <li>It's that easy!</li>
    </ul>
    
    </div>
<% end %>
    
    
    <h1 id="featured">
       Featured
    </h1>
    

<section class="showing-all-plants-home" >
        <% @plants.order(id: :desc).limit(3).each do |plant| %>
            <%= link_to(plant) do %>
                <div class="individual-plant-show-all" 
                style="
                background-image: url('<%= rails_blob_url(plant.picture) %>');
                background-size: cover;
                ">
                <div class="plant-info">
  <h3><%= plant.name %></h3>
  <button data-stripe="payment">Buy <%= number_to_currency(plant.price / 100.0) %></button>
  </div>
                    
                </div>
            <% end %>
        <% end %>
    </section>



<section class="showing-all-plants-mobile" >
        <% @plants.order(id: :desc).limit(2).each do |plant| %>
            <%= link_to(plant) do %>
                <div class="individual-plant-show-all" 
                style="
                background-image: url('<%= rails_blob_url(plant.picture) %>');
                background-size: cover;
                ">
                <div class="plant-info">
  <h3><%= plant.name %></h3>
  <button data-stripe="payment">Buy <%= number_to_currency(plant.price / 100.0) %></button>
  </div>
                    
                </div>
            <% end %>
        <% end %>
    </section>



    



    <p>
        
    <p>
    </section>
</main>

<script src="https://js.stripe.com/v3/"></script>
 <script>
    document.querySelector("[data-stripe='payment']").addEventListener("click", () => {
        const stripe = Stripe("<%= @public_key %>");
        stripe.redirectToCheckout({
            sessionId: "<%= @session_id %>"
        });
    });
</script>