<main id="home">


    <section>
    
    <div class="sign-up-main">
    <h1>How it works</h1>
    
    </div>
    <h3 id="featured">
       Featured
    </h3>
    

<section class="showing-all-plants">
        <% @plants.order(id: :desc).limit(3).each do |plant| %>
            <%= link_to(plant) do %>
                <div class="individual-plant-show-all">
                
                    <h2><%= plant.name %></h2>
                    <p><%= plant.plant_type %></p>
                </div>
            <% end %>
        <% end %>
    </section>


<div class="sign_out">
  <% if user_signed_in? %> 
  <%= link_to "logout", destroy_user_session_path, method: :delete %>
  <% else %>
  <%= link_to "Login", new_user_session_path %>
  <% end %>
</div>


    <p>
        
    <p>
    </section>
</main>