<%= form_with(model: plant, local: true) do |form| %>
  <% if plant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plant.errors.count, "error") %> prohibited this plant from being saved:</h2>

      <ul>
      <% plant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="plant-form">
<h1>Create a New Swap</h1>
  <div class="field">
    <%= form.text_field :name ,  placeholder: "Name", required: true %>
    
  </div>

  <div class="field">
    <%= form.text_field :proper_name,  placeholder: "Proper name" %>
  </div>

  <div class="field">
   

  <%= form.select :plant_type, ['Succulent', 'Cactus'], required: true  %>
   <%= form.number_field :price,  placeholder: "Price in cents", required: true  %>
 
  </div>


  <div class="field">
    <%= form.text_area :description,  placeholder: "Description", required: true %>
  </div>

  <div class="profile-choose-photo">
  <%= form.label :picture %>: <%= form.file_field :picture, accept:
  'image/png,image/gif,image/jpeg,image/jpg', required: true %>
</div>

  

  <div class="actions">
    <%= form.submit id: 'plant_submit_button' %>
  </div>
<% end %>
</div>
