<%= form_with(model: plant, local: true) do |form| %>
  <% if plant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plant.errors.count, "error") %> prohibited this plant from being saved:</h2>

      <ul>
      <% plant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="plant-form">
  <div class="field">
    <%= form.text_field :name ,  placeholder: "Name"%>
    
  </div>

  <div class="field">
    <%= form.text_field :proper_name,  placeholder: "Proper name" %>
  </div>

  <div class="field">
   

  <%= form.select :plant_type, ['Succulent', 'Cactus'] %>
   <%= form.number_field :price,  placeholder: "Price" %>
  <!--
    <%= form.text_field :plant_type,  placeholder: "Plant Type" , :cols => 30, :rows => 10 %>-->
  </div>


  <div class="field">
    <%= form.text_area :description,  placeholder: "Description" %>
  </div>

  

  <div class="actions">
    <%= form.submit id: 'plant_submit_button' %>
  </div>
<% end %>
</div>
