<p id="notice"><%= notice %></p>
<ul class="navbar">
    <li><a href="../plants"> Buy</a></li>
    <li><a href="../profiles">My Account</a></li>
    
  
    
    <li><a href="../plants/new">Sell</a></li>
    </ul>



<p>
  <strong>Name:</strong>
  <%= @plant.name %>
</p>

<p>
  <strong>Proper name:</strong>
  <%= @plant.proper_name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @plant.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @plant.description %>
</p>

<p>
  <strong>Plant type:</strong>
  <%= @plant.plant_type %>
</p>
  
  
  


<!--
<p>
  <strong>Sold:</strong>
  <%= @plant.sold %>
</p>


<%= link_to 'Edit', edit_plant_path(@plant) %> |
-->
<%= link_to 'Back', plants_path %>

<div class="sign_out">
  <% if user_signed_in? %> 
  <%= link_to "logout", destroy_user_session_path, method: :delete %>
  <% else %>
  <%= link_to "Login", new_user_session_path %>
  <% end %>
</div>
