<p id="notice"><%= notice %></p>

<div class="plant-show">

<p>
  <img src="https://images.pexels.com/photos/1022922/pexels-photo-1022922.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="plant-show-pic">
</p>
<p>
  <strong>Name:</strong>
  <%= @plant.name %>
</p>

<p>
  <strong>Proper name:</strong>
  <%= @plant.proper_name %>
</p>

<!--
<p>
  <strong>Price:</strong>
  
  <%= number_to_currency(@plant.price / 100.0) %>
</p>
-->

<p>
  <strong>Description:</strong>
  <%= @plant.description %>
</p>

<p>
  <strong>Plant type:</strong>
  <%= @plant.plant_type %>
</p>
  
  <div>
    <button data-stripe="payment">Buy <%= number_to_currency(@plant.price / 100.0) %></button>
</div>
<%= link_to 'Back', plants_path %>
<!--
<%= link_to "edit", edit_plant_path(@plant) if current_user.id == @plant.id %>
  -->
 </div> 
 <script src="https://js.stripe.com/v3/"></script>
 <script>
    document.querySelector("[data-stripe='payment']").addEventListener("click", () => {
        const stripe = Stripe("<%= @public_key %>");
        stripe.redirectToCheckout({
            sessionId: "<%= @session_id %>"
        });
    });
</script>


<!--
<p>
  <strong>Sold:</strong>
  <%= @plant.sold %>
</p>


<%= link_to 'Edit', edit_plant_path(@plant) %> |
-->



