<p id="notice"><%= notice %></p>

<div class="plant-show">

<p>
  <img src="https://images.pexels.com/photos/1022922/pexels-photo-1022922.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="plant-show-pic">
</p>
<p>
  <strong>Name:</strong>
  <%= @plant.name %>
</p>

<p>
  <strong>Proper name:</strong>
  <%= @plant.proper_name %>
</p>

<p>
  <strong>Price:</strong>
  
  <%= number_to_currency(@plant.price / 100.0) %>
</p>

<p>
  <strong>Description:</strong>
  <%= @plant.description %>
</p>

<p>
  <strong>Plant type:</strong>
  <%= @plant.plant_type %>
</p>
  
  <button class="buy-now" src="#">Buy now</button>
  
 </div> 


<!--
<p>
  <strong>Sold:</strong>
  <%= @plant.sold %>
</p>


<%= link_to 'Edit', edit_plant_path(@plant) %> |
-->
<%= link_to 'Back', plants_path %>


