<!DOCTYPE html>
<html>
  <head>
    <title>PropSwap</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
<meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://checkout.stripe.com/checkout.js' %>
  </head>

  <body>
  <div class="logo">
   <div class="nav">
  <ul class="navbar">
    <li><%= link_to "Buy", plants_path %></li>

    <li>
    <% if user_signed_in? %> 
    <%= link_to "Profile", profile_path(current_user.id)%>
    <% else %>
  <%= link_to "Login", new_user_session_path %>
  <% end %>
  </li>
  
    <li><%= link_to "Swap", new_plant_path %></li>
    </ul>
    </div>
    
<div class="logo-words"><%= link_to image_tag("propswap_logo.png"), root_path%></div>
</div>



    <%= yield %>

  </body>
</html>
