<!DOCTYPE html>
<html>
  <head>
    <title>PropSwap</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://checkout.stripe.com/checkout.js' %>
  </head>

  <body></body>
  <div class="logo">
    
<h1 class="logo-words">PropSwap</h1>
</div>
  <ul class="navbar">
    <li><a href="../plants"> Buy</a></li>
    
    <% if user_signed_in? %> 
    <%= link_to "Profile", profile_path(current_user.id)%>
    <% else %>
  <%= link_to "Login", new_user_session_path %>
  <% end %>
    <li><a href="../plants/new">Sell</a></li>
    </ul>
    

<p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

    <%= yield %>



  </body>
</html>
